$primary-color: #68163B;
$second-color: #C4C4C4;

$mainFont: 'Roboto', sans-serif;
$secondFont: 'Aclonica', sans-serif;

$boxShadow: 0px 4px 15px rgba(0, 0, 0, 0.05);

body {
    margin: 0;
    font-family: $mainFont;
}

.text--light {
    font-size: 12px;
    font-weight: 300;
    color: $second-color;
}