@import '../../app.scss';

.header {
  display: flex;
  justify-content: center;
  box-shadow: $boxShadow;
  padding: 20px;
}

.header__button {
  flex:1;
}

.header__title {
  font-size: 30px;
  font-family: $secondFont;
  color:$primary-color;
  width: calc(50% + 67px);
}