@import '../../app.scss';

.header {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: $boxShadow;
  padding: 20px;
}

.header__button {
  flex:1;
  // transform: scale(1.5);
}

.header__title {
  font-size: 30px;
  font-family: $secondFont;
  color:$primary-color;
  flex: 2;
}