@import '../../app.scss';

.tabmenu {
    display: flex;

    &__item {
        flex: 1;
        border-bottom: solid 1px $second-color;
        cursor: pointer;
    }
    
    .selected {
        color: $primary-color;
        border-bottom: solid 1px $primary-color;
    }
}